.profile__container-avatar  {
  background: #000;
  background-image: url(../../../images/profile__edit-icon.svg);
  background-repeat: no-repeat;
  background-position: 40% 50%;
}

/* .profile__container-avatar::before {
  content: "";
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.profile__container-avatar:hover::before {
  opacity: 0;
} */
