.form__title {
  color: #000;
  margin: 0 0 15px;
  /* margin: 0; */
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  min-width: 430px;
}

@media screen and (max-width: 600px) {
  .form__title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 45px;
  }
}
