.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 41px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
}

@media screen and (max-width: 430px) {
  .header {
    padding-top: 26px;
    padding: 26px 27px 31.6px;
  }
}
